#navibar {
    background-color: #000000;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.2);
}

#logo {
    height: 2.5rem;
    margin: 0.5rem 3rem;
}

#burgermenu {
    margin: 0;
    padding: 0;
}

#burgermenu:hover {
    cursor: pointer;
}

#offcanvas {
    background-color: #000000;
    color: #FFFFFF;
}

.navitem {
    text-decoration: none;
    font-size: 16pt;
    font-weight: 100;
}

.navitem:hover {
    color: #C83D00;
}